@mixin font-face($name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $name;
    src: url($path);
    font-weight: $weight;
    font-style: $style;
  }
}

/*Colors*/
$white: #fff;
$black: #000;
$cityBlue: #012d5b;
$university-blue: #053d78;
$museum-orange: #ff852e;
$gray: #808080;

@mixin font-face($name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $name;
    src: url($path);
    font-weight: $weight;
    font-style: $style;
  }
}

/*Classes*/
@mixin devices($breakpoint) {
  //the name of the mixin is devices

  @if $breakpoint == small {
    @media only screen and (min-width: 576px) {
      @content;
    }
  }

  @if $breakpoint == medium {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == large {
    @media only screen and (min-width: 992px) {
      @content;
    }
  }

  @if $breakpoint == extraLarge {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }

  @if $breakpoint == biggest {
    @media only screen and (min-width: 1600px) {
      @content;
    }
  }
}
@mixin vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@mixin center {
  margin-left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
@mixin uppercase {
  text-transform: uppercase;
}
@mixin hidden {
  opacity: 0;
}
@mixin visible {
  opacity: 1;
}
@mixin fadeIn {
  animation: fadeIn 0.5s ease;
  -webkit-animation: fadeIn 0.5s ease;
  -moz-animation: fadeIn 0.5s ease;
}
@mixin shadow {
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
}
.clearfix {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin borderRadius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin easy-transform-fast {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@mixin easy-transform-slow {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

//starting font-size value in pixels
$font-size: 16;

@mixin font-size($size) {
  $size-result: calc($size / $font-size);
  font-size: #{$size-result}rem;
}

@mixin line-height($size-lh) {
  $size-result-lh: calc($size-lh / $font-size);
  line-height: #{$size-result-lh}rem;
}

body,
html {
  line-height: #{$font-size}px;
  font-size: #{$font-size}px;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 500;
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
h1 {
  @include font-size(32);
  @include line-height(36);
  @include devices(medium) {
    @include font-size(40);
    @include line-height(48);
  }
}
h2 {
  @include font-size(29);
  @include line-height(33);
  @include devices(medium) {
    @include font-size(36);
    @include line-height(44);
  }
}
h3 {
  @include font-size(26);
  @include line-height(30);
  @include devices(medium) {
    @include font-size(32);
    @include line-height(40);
  }
}
h4 {
  @include font-size(23);
  @include line-height(27);
  @include devices(medium) {
    @include font-size(28);
    @include line-height(36);
  }
}
h5 {
  @include font-size(20);
  @include line-height(24);
  @include devices(medium) {
    @include font-size(24);
    @include line-height(32);
  }
}
h6 {
  @include font-size(17);
  @include line-height(21);
  @include devices(medium) {
    @include font-size(20);
    @include line-height(28);
  }
}

a,
a:link,
a:focus,
a:visited {
  color: $cityBlue;
  text-decoration: none;
  @include font-size(16);
  @include line-height(26);
  @include devices(medium) {
    @include font-size(18);
    @include line-height(28);
  }
}
p {
  @include font-size(16);
  @include line-height(26);
  margin-bottom: 15px;
  @include devices(medium) {
    @include font-size(18);
    @include line-height(28);
  }
}
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
  @include devices(medium) {
    width: 80%;
  }
}
.mobile-container {
  width: 90%;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.bold,
strong {
  font-weight: 700;
}
.title {
  font-weight: 900;
  font-style: normal;
  @include font-size(50);
  @include line-height(50);
  margin-bottom: 0;
}
.subtitle {
  @include uppercase;
  @include font-size(24);
  @include line-height(20);
}

.single-section {
  padding: 60px 0;
}
.title-wrap {
  margin-bottom: 60px;
}
.page-section {
  padding: 60px 0;
}

.cook {
  position: absolute;
  max-height: 250px;
}
