.blog-posts {
  margin-bottom: 60px;
  .col {
    overflow: hidden;
  }
  .post-wrap {
    max-height: 500px;
    position: relative;
    overflow: hidden;
    display: block;
    margin-bottom: 20px;
    @include easy-transform-fast;
    img {
      height: 500px;
      width: 100%;
      object-fit: cover;
    }
    &.black-white {
      img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      }
    }
    .text-wrap {
      padding: 20px 10px;
      background-color: rgba($color: #ff852e, $alpha: 0.7);
      color: $white;
      position: absolute;
      bottom: -60%;
      height: 100%;
      left: 0;
      width: 100%;
      @include easy-transform-fast;
      .header {
        @include font-size(33);
        @include line-height(37);
        margin-bottom: 10px;
        font-weight: 600;
      }
    }
    &:hover {
      .text-wrap {
        bottom: 0;
      }
    }
  }
  .menu:not(.mobile-menu) {
    list-style: none;
    li {
      a {
        display: block;
        @include font-size(20);
        @include line-height(24);
        margin-bottom: 12px;
        @include uppercase;
        @include easy-transform-fast;
        color: $black;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          @include easy-transform-fast;
          width: fit-content;
          bottom: 0px;
          height: 2px;
          background: $museum-orange;
          left: -50px;
          opacity: 0;
          width: 50%;
        }
      }
      &:hover {
        a {
          color: $museum-orange;
          &::after {
            left: 0;
            opacity: 1;
          }
        }
      }
    }
    .sub-menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: $black;
      li {
        a {
          color: $white;
        }
      }
    }
  }
}
